* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 100vh;
    background-color:rgb(187, 187, 231);
    width: 70%;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);

}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 70px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
}

.img {
    width: 55px;
    padding-left: 10px;
}

.navbar {
    display: flex;
    font-weight: 600;
    gap: 10px;

}

.dziwki {
    display: flex;
    flex-direction: column;
    color: rgb(255, 240, 240);
    background-color: white;
    border-radius: 16px;
    gap: 8px;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 563px;
    top: 45px;
    font-weight: 400;
    visibility: hidden;
    overflow: hidden;

}

.dziwki.active {
    visibility: visible;
}
.dziwki a:hover {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}
.Adziwki {
    display: flex;
    flex-direction: column;
    color: rgb(255, 240, 240);
    background-color: white;
    border-radius: 16px;
    gap: 8px;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 638px;
    top: 45px;
    font-weight: 400;
    visibility: hidden;
    overflow: hidden;

}

.Adziwki.active {
    visibility: visible;
}
.Adziwki a:hover {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

.header button{
    background-color:white;
    border-radius: 5px;
    border: none;
    height: 45px;
    width: 90px;
    font-weight: 600;
    top: 30px;

    margin-top: 5px;
    margin-right: 10px;
}


.AAdziwki {
    display: flex;
    flex-direction: column;
    color: rgb(255, 240, 240);
    background-color: white;
    border-radius: 16px;
    gap: 8px;
    align-items: center;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 663px;
    top: 45px;
    font-weight: 400;
    visibility: hidden;
    overflow: hidden;

}

.AAdziwki.active {
    visibility: visible;
}
.AAdziwki a:hover {
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}